/venv/

### Backend
!/backend/config.py



### Frontend
# dependencies
/frontend_old/node_modules
/frontend_old/.pnp
/frontend_old/.pnp.js

# testing
/frontend_old/coverage

# production
/frontend_old/build

# misc
/frontend_old/.DS_Store
/frontend_old/.env.local
/frontend_old/.env.development.local
/frontend_old/.env.test.local
/frontend_old/.env.production.local

/frontend_old/npm-debug.log*
/frontend_old/yarn-debug.log*
/frontend_old/yarn-error.log*
